/* Birds-Information - Body */
.bg {
  background-color: black;
  align-items: center;
}

.App {
  margin-top: 100px;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: cener;
  justify-content: center;
  justify-items: center;
}

.crop {
  width: 200px;
  height: 250px;
  overflow: hidden;
}

.crop img {
  width: 400px;
  height: 400px;
  margin: -25px 0 0 -100px;
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  /* background-image: url("./images/bg1.jpg"); */
  background-color: #dddddd;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  background-attachment: fixed;
}
.birdlist {
  width: 80vw;
  margin: 2rem auto;
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 1200px) {
  .birdlist {
    grid-template-columns: repeat(3, 1fr);
  }
}

.bird h4 {
  color: #617d98;
}

/*End of Birds Inforamtion - Body */
